<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/plugin-manager"
                contextRoot="webapp/plugin-manager">
        </webapp>
    </extension>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/plugin-manager-admin"
                contextRoot="webapp/plugin-manager-admin">
        </webapp>
    </extension>
</plugin>
